<ion-button class="danger" (click)="onBack()" >Back</ion-button>
<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Please Make a Payment</ion-card-title>
      </ion-card-header>
      <ion-card-content>
         <ion-item> <ion-checkbox color="primary"></ion-checkbox><h4> Use NetBanking</h4></ion-item>
         
       <ion-item><ion-checkbox color="secondary"></ion-checkbox><h4> CREDIT CARD</h4></ion-item>  
       <ion-item> <ion-checkbox color="primary"></ion-checkbox><h4> PAYTM</h4></ion-item> 
      </ion-card-content>
      <ion-button expand="block" (click)="onSubmit()">Submitt</ion-button>
    </ion-card>
    </ion-content>