<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
           Your Booking Details
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card *ngFor="let book of list">
        <ion-card-header>
            <ion-card-subtitle>Time: {{book.movie_time}}</ion-card-subtitle>
          <ion-card-title>Movie Name: {{book.movie_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label style="color:red">{{book.theatre}} </ion-label>
            <ion-label>City:{{book.city}} </ion-label>
            <ion-label>Date:{{book.movie_date}} </ion-label>
            <ion-label style="color:red">Amount:{{book.amount}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-content>